<br><br><br>
<h2 class="display-4 text-center"> Educational Background </h2>   

<table class="table">
    <tr class="table-primary">
      <th>Year</th>
      <th>Institution Name</th>
      <th>Stream</th>
      <th>Marks/Grade</th>
    </tr>

    <tr>
      <td>2015-2019</td>
      <td>Techno India College of Technology</td>
      <td>BTech(ECE)</td>
      <td>9.23 DGPA</td>
    </tr>

    <tr>
        <td>2014</td>
        <td>Kendriya Vidyalaya Ballygunge</td>
        <td>AISSCE(12th Science)</td>
        <td>89.8%</td>
      </tr>

      <tr>
        <td>2012</td>
        <td>Kendriya Vidyalaya Ballygunge</td>
        <td>AISCE(10th)</td>
        <td>9.0 CGPA</td>
      </tr>
  </table>