#body{
   background-color: rgb(250, 243, 239);
}


.skills-row {
    margin-top: 80px;
  }
  .skill-item {
    border-bottom: 1px solid rgba(250,250,250,0.1);
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .last-skill {
    border-bottom: none;
  }
  .skills-row span {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: rgb(236, 131, 131);
    color: #1e1e1e;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    top: -21px;
    position: absolute;
    z-index: 999;
  }
  .skills-row h6 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(201, 27, 27);
    text-align: right;
    margin-bottom: -10px;
  }
  .skill-bar {
    width: 70%;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(135, 235, 173, 0.25);
    position: relative;
  }
  .filled-bar {
    position: absolute;
    z-index: 99;
    width: 85%;
    height: 6px;
    background-color: rgb(113, 107, 197);
    border-radius: 3px;
  }
  .filled-bar-1 {
    position: absolute;
    z-index: 99;
    width: 60%;
    height: 6px;
    background-color: rgb(123, 95, 201);
    border-radius: 3px;
  }
  .filled-bar-2 {
    position: absolute;
    z-index: 99;
    width: 70%;
    height: 6px;
    background-color: rgb(123, 95, 201);
    border-radius: 3px;
  }
  .filled-bar-3 {
    position: absolute;
    z-index: 99;
    width: 50%;
    height: 6px;
    background-color: rgb(123, 95, 201);
    border-radius: 3px;
  }