<br><br><br>

<div id="body" class="section animated-row" data-section="slide04">
    <div class="section-inner">
        <div class="row justify-content-center">
            <div class="col-md-7 wide-col-laptop">
                <div class="title-block animate" data-animate="fadeInUp">
                    
                    <h2>My Skills</h2>
                </div>
                <div class="skills-row animate" data-animate="fadeInDown">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">   
                            <div class="skill-item">
                                <h6>RPA UiPath</h6>
                                <div class="skill-bar">
                                    <span>85%</span>
                                    <div class="filled-bar"></div>
                                </div>          
                            </div>
                            <div class="skill-item">
                                <h6>Python</h6>
                                <div class="skill-bar">
                                    <span>60%</span>
                                    <div class="filled-bar-1"></div>
                                </div>          
                            </div>
                            <div class="skill-item">
                                <h6>Java-8</h6>
                                <div class="skill-bar">
                                    <span>70%</span>
                                    <div class="filled-bar-2"></div>
                                </div>          
                            </div>
                            <div class="skill-item">
                                <h6>Git and Github</h6>
                                <div class="skill-bar">
                                    <span>50%</span>
                                    <div class="filled-bar-3"></div>
                                </div>          
                            </div>
                            <div class="skill-item last-skill">
                                <h6>SQL</h6>
                                <div class="skill-bar">
                                    <span>50%</span>
                                    <div class="filled-bar-3"></div>
                                </div>          
                            </div>                   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>