
  
<br>
<!-- THis is for the picture -->
<div class="main">
    <img class="rounded float-left" id="mypicture" src="assets/satish new passport.jpg" style="width:300px;height:300p" alt="Satish">
</div>

<!-- THis is for the about section  -->
<div id="aboutme">
    <h2><u>Professional Experience</u></h2>
    <ol id="exppoints">
        <li>Working as RPA(UiPath) Developer.</li>
        <li>Experienced in automating complex, repetitive business process.</li>
        <li>Experienced in automating process using AI Computer vision and OCR Technology.</li>
        <li>Experience in providing support and maintenance for existing robots.</li>
        <li>Ability to work under pressure.</li>
        <li>Ability to handle the proper sync between multiple teams.</li>
        <li>UiPath advance level certified(Level-3).</li>
        <li>Experienced in providing support and maintenance for Java.</li>
        <li>Knowledge of Python scripting and Bash scripting.</li>
        <li>Familiar with Linux environment.</li>
        <li>Trained on Java full stack.</li>
        <li>Knowledge of Git and Github.</li>
        <li>Always ready to learn new technologies.</li>            
    </ol>
</div>
